<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{% block title %}Bloggart{% endblock %}</title>
   <link rel="alternate" type="application/atom+xml" href="{{config.url_prefix}}/feeds/atom.xml" />

   <!-- syntax highlighting CSS -->
  {% if config.highlighting_style %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/pygments_{{config.highlighting_style}}.css" />
  {% endif %}

   <!-- Homepage CSS -->
   {% block style %}
   <link rel="stylesheet" type="text/css" media="screen" href="{{config.url_prefix}}/static/{{config.theme}}/css/screen.css" />
   {% endblock %}

   {% if config.rel_me %}
   <link rel="me" href="{{config.rel_me}}" />
   {% endif %}
   {% block head %}{% endblock %}
</head>
<body>

<div class="site">
  <div class="title">
    <a href="{{config.url_prefix}}/"{% ifequal generator_class "IndexContentGenerator" %} id="current"{% endifequal %}>home</a>
    <a href="{{config.url_prefix}}/archive/"{% ifequal generator_class "ArchiveIndexContentGenerator" %} id="current"{% else %}{% ifequal generator_class "ArchivePageContentGenerator" %} id="current"{% endifequal %}{% endifequal %}>archive</a>
    {% block menu %}{% endblock %}
  </div>
  
  {% block body %}{% endblock %}
  
  <div class="footer">
    <div class="contact">
      <p>
        {{config.author_name}}<br />
        Design courtesy of <a href="https://github.com/mojombo/mojombo.github.io/">mojombo</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mojombo/">github.com/mojombo</a><br />
        <a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />
        <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
      </p>
    </div>
  </div>
</div>

<a href="http://github.com/mojombo"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

{% if config.analytics_id and not devel and not is_admin %}
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{config.analytics_id}}");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- Google Analytics end -->
{% endif %}

</body>
</html>
