{% extends "base.html" %}
{% block title %}{{config.blog_name}}{% endblock %}
{% block body %}
  <ul class="posts">
    {% for post in posts %}
      <li class="post">
        <span>{{post.published_tz|date:"d M Y"}}</span> &raquo; <h1><a href="{{config.url_prefix}}{{post.path}}">{{post.title|escape}}</a></h1>
        {{post.summary|safe}}
        <p class="more">
          <a href="{{config.url_prefix}}{{post.path}}">Read more</a>
          {% if config.disqus_forum %} |
          <a href="{{config.url_prefix}}{{post.path}}#disqus_thread" class="readmore">Comments</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
  {% if prev_page %}
  &laquo; <a id="prev" href="{{config.url_prefix}}{{prev_page}}">Newer</a>
  {% endif %}
  {% if prev_page and next_page %}<br/>{% endif %}
  {% if next_page %}
  &raquo; <a id="next" href="{{config.url_prefix}}{{next_page}}">Older</a>
  {% endif %}
  {% if config.disqus_forum %}
    <script type="text/javascript">
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
      if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
      }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
  {% endif %}
{% endblock %}
