{% extends "base.html" %}
{% block title %}{{post.title|escape}} - {{config.blog_name}}{% endblock %}
{% block body %}
<div id="post">
  <h1>{{post.title|escape}}</h1>
  <p class="meta">{{post.published_tz|date:"r"}}</p>
  {{post.rendered}}
</div>

  <ul class="posts">
    {% if prev %}
      <li id="prev">&laquo; <a href="{{config.url_prefix}}{{prev.path}}">{{ prev.title }}</a>
    {% endif %}
    {% if next %}
      <li id="next">&raquo; <a href="{{config.url_prefix}}{{next.path}}">{{ next.title }}</a>
    {% endif %}
  </ul>
{% endblock %}
